model_version: 2.0
product_va_config:
    name: GraphDb microservice with Bob
    product_name: eric-data-graph-database-nj
    version: {version}
    image-full-name-internal: {image-full-name-internal}
    self-monitoring-full-name: {self-monitoring-full-name}
    service-migration-full-name: {service-migration-full-name}
    va_template_version: 2.0.0
    description: GraphDb Microservice with Bob based CI automation pipeline
    images:
        - /${image-full-name-internal}:${version}
        - /${image-full-name-internal}-bragent:${version}
        - /${self-monitoring-full-name}:${version}
        - /${service-migration-full-name}:${version}