xray:
  name: GraphDB
  version: {version}
  paths:
    - "ARM-SELI/proj-aia_snapshots-docker-global/aia_snapshots/graphdb-n4j/{version}"
    - "ARM-SELI/proj-aia_snapshots-docker-global/aia_snapshots/graphdb-n4j-bragent/{version}"
    - "ARM-SELI/proj-oss_releases-docker-global/proj_oss_releases/self-monitoring/{version}"
    - "ARM-SELI/proj-oss_releases-docker-global/proj_oss_releases/neo4j-service-migration/{version}"